<h1>プロフィール編集</h1>

<%= form_with(model: @seeker, url: asks_path, local: true) do |f| %>

    <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
  <%= f.label :address %><br />
  <%= f.text_field :address %>
  </div>
  <div class="field">
  <%= f.label :phone %><br />
  <%= f.text_field :phone %>
  </div>
  <div class="field">
  <%= f.label :age %><br />
  <%= f.text_field :age %>
  </div>  
  <div class="field">
  <%= f.label :gender %><br />
  <%= f.text_field :gender %>
  </div>
  　
  <%= f.fields_for :asks do |form| %>
    <div class="field">
      <%= form.label :image %> 
      <%= form.file_field :image %>　
      <%= form.hidden_field :id %>
    </div>
    <div class="field">
      <%= form.label :icon %> 
      <%= form.file_field :icon %>　
      <%= form.hidden_field :id %>
    </div>
    <div class="field">
      <%= form.label :自己紹介 %>
      <%= form.text_area :content %>
    </div>
    
    <div class="actions">
      <%= f.submit %>
      </div>
      <% end %>
<% end %>