<h1><%= @seeker.user.nickname %>さんのプロフィール</h1>


<%= @seeker.gender %>
<%= @seeker.age %>
<%= @seeker.content %>

<% unless current_user.id? %> 
<%= link_to 'メッセージを送る', conversations_path(sender_id: current_user.id, recipient_id: @seeker.user.id), method: :post %>
<% end %>

  