<%= form_with(model: @stylist, local: true) do |f| %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <%= f.fields_for :users do |form| %>
  <div class="field">
    <%= form.label :email %><br />
    <%= form.text_field :email %>
  </div>
  <% end %>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :age %><br />
    <%= select_tag(:age, options_for_select((10..50).to_a)) %>
  </div>  
  <div class="field">
    <%= f.label :gender %><br />
    <%= f.text_field :gender %>
  </div>
  　
  
    <div class="field">
      <%= f.label :icon %> 
      <%= f.file_field :icon %>　
      <%= f.hidden_field :id %>
    </div>
    <div class="field">
      <%= f.label :clothes_image %> 
      <%= f.file_field :clothes_image %>　
      <%= f.hidden_field :id %>
    </div>
    <div class="field">
      <%= f.label :自己紹介 %>
      <%= f.text_area :content %>
    </div>
    
    <div class="actions">
      <%= f.submit %>
    </div>

<% end %>