<h1>プロフィール画面</h1>

<%= @stylist.user.nickname %>
<%= @stylist.gender %>
<%= @stylist.age %>

  
<% if @stylist.id != current_user.id? %>
<%= link_to 'メッセージを送る', conversations_path(sender_id: current_user.id, recipient_id: @stylist.user.id), method: :post %>
<%# binding.irb %>
<%= link_to '評価する', new_review_path(stylist_id: @stylist.id) %>

<% end %>
<h4><%= @stylist.user.nickname %>さんのレビュー一覧</h4>
<table>
  <tr>
    <th>タイトル</th>
    <th>レビュー</th>
  </tr>
  <% @stylist.reviews.each do |review| %>
  <tr>
    <td><%= review.title %></td>
    <td><%= review.comment %></td>
  </tr>
  <% end %>
</table>