<h1>プロフィール画面</h1>

<%= @stylist.user.nickname %>
<%= @stylist.gender %>
<%= @stylist.age %>

  
<% if @stylist.id == current_user.id? %>
  <%= link_to 'プロフィールを編集する', edit_stylist_path(@stylist.id) %>
  <%= link_to '相談者一覧を見る', seekers_path %>
  <%= link_to 'レビューを管理する' %>
<% else %>
<%= link_to 'メッセージ', conversations_path(sender_id: current_user.id, recipient_id: @stylist.user.id), method: :post %>
<% end %>