<%= form_with(model: @review, url: review_path, local: true) do |f| %>
    <%= f.hidden_field :stylist_id, value: @review.stylist_id %>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :comment %><br />
    <%= f.text_field :comment %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>