<!DOCTYPE html>
<html>
  <head>
    <title>PasuTa</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user.adviser? %>
      <%= link_to 'マイページ', seeker_path(current_user.id) %>
      <%= link_to 'マイページ編集', edit_stylist_path(current_user.id) %> |
      <%= link_to '相談者一覧', seekers_path %> |
      <%= link_to 'ログイン情報編集', edit_user_registration_path %> |
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to 'マイページ', seeker_path(current_user.id) %> |
      <%= link_to 'マイページ編集', edit_seeker_path(current_user.id) %> |
      <%= link_to 'スタイリスト一覧', stylists_path %> |
      <%= link_to 'レビュー管理', reviews_path %> |
      <%= link_to 'ログイン情報編集', edit_user_registration_path %> |
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
    <% end %>
    <%= yield %>
  </body>
</html>