<!DOCTYPE html>
<html>
  <head>
    <title>PasuTa</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <td><%= link_to "退会する", user, new_user_registration_path, data: { confirm: "本当に退会しますか?" }, method: :delete %></td>
  </body>
</html>